Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  misc-*,
  hicpp-*,
  concurrency-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value:           '0'
